<h1>Edit user <%= @user.login %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>  
        <div class="field"> 
          <%= f.label :login %>
          <%= f.text_field :login, class: 'form-control' %><br>
          <%= f.label :email %> 
          <%= f.email_field :email, class: 'form-control' %><br>
          <%= f.label :password %> 
          <%= f.password_field :password, class: 'form-control' %><br>
          <%= f.label :confirm_password %> 
          <%= f.password_field :confirm_password, class: 'form-control'%><br>
        </div> 
        
        <div class="actions"> 
          <%= f.submit 'Save', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', user_profile_path, class: 'btn btn-warning' %>
        </div> 
        <% end %>
  </div>
</div>

