<%= form_for(@user) do |f| %>  
  <div class="field"> 
    <%= f.label :login %>
    <%= f.text_field :login %><br>
    <%= f.label :email %> 
    <%= f.email_field :email %><br>
    <%= f.label :old_password %> 
    <%= f.password_field :password %><br>
    <%= f.label :new_password %> 
    <%= f.password_field :password %><br>
    <%= f.label :confirm_password %> 
    <%= f.password_field :confirm_password %><br>
  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>