<h1>Editing playlist</h1>
 
<%= form_for :playlist, url: playlist_path(@playlist), method: :patch do |f| %>
 
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@playlist.errors.count, "error") %> prohibited
        this playlist from being saved:
      </h2>
      <ul>
        <% @playlist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', playlists_path %>

<h3>Available movies</h3>

<ul>
  <% @movies.each do |m| %>
    <li><%= m.title %> <%= m.id %></li>
  <% end %>
</ul>
